<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calories Prediction App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="Box">
    </div>

    <div class="Box_2">
        <h1>Calories Prediction</h1>

        <form action="{{url_for('predict')}}" ,method="POST", onsubmit="return validateForm()">

            <p> Gender </p>
            
            <select name="gender">

                <option value="" disabled selected hidden></option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>

              </select>
            
            <p> Age </p>
            <input type="text" name="age" placeholder="Enter User Age">

            <p> Duration </p>
            <input type="text" name="duration"  placeholder="Enter User Duration">

            <p> Heart Rate </p>
            <input type="text" name="heart_rate"  placeholder="Enter User Heart Rate">

            <p> Temperature </p>
            <input type="text" name="temp"  placeholder="Enter User Temperature">

            <p> Height </p>
            <input type="text" name="height"  placeholder="Enter User Height">

            <p> weight </p>
            <input type="text" name="weight"  placeholder="Enter User Weight">
    
            <input name=""  type="submit"  value="Predict" >

            <input name="" type="reset" onclick="myFunction()" value="Clear" >
            
            <script src="D:\01 - Kuliah\Jawab UAS\AI\Calories-Prediction-ML-Web-Application--main\static\script.js">

            </script>
    
        </form>
    </div>

    <script>
        function validateForm() {
            // Memeriksa apakah semua input telah diisi
            var inputs = document.getElementsByTagName('input');
            for (var i = 0; i < inputs.length; i++) {
                if (inputs[i].type !== "submit" && inputs[i].type !== "reset" && inputs[i].value === "") {
                    alert("Please fill in all fields before predicting.");
                    return false;
                }
            }
            return true;
        }
    </script>

</body>
</html>
